*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #141a49;
    color: white;
}

ul{
    display: flex;
    justify-content: right;
    list-style-type: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.quadro {
    display:flex;
    width : fill;
    height: 850px;
    padding: 10px;
    background-color: white;
    margin-top: 2%;
    flex-direction: row column;
}
ul  {
    text-align: center;
}
.bloco{
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 30%;
}
.separação{
    display: flex;
    flex-direction: row column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 200px;
}
img{
 border-radius: 30%;
}
