*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #141a49;
    color: white;
}

ul{
    display: flex;
    justify-content: right;
    list-style-type: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.shape {
    transform: scaleY(0,75);
    background-color: white ;
}
.quadro {
    display:block;
    width : fill;
    height: 850px;
    padding: 10px;
    background-color: white;
    margin-top: 2%;
}
ul  {
    text-align: center;
}
img{
    height: 250px;
    position: absolute;
    top: 15%;
    transform: translateX(60px) ;
}
